#all {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (min-device-width: 800px) and (orientation: landscape) {
    #all {
	margin-right: 30%;
    }
}

li {
    list-style: none;
    font-size: 20pt;
}
