* {
    background-color: #272822;
    color: #f1ebeb;
    font: normal 15pt monospace;
    text-align: justify;
}

div#master {
    display: grid;
    grid-template-columns: 50% 50%;
}

div#text {
    margin-right: 5%;
    margin-left: 5%;
}

div#images {
    margin-left: 5%;
    margin-right: 5%;
    text-align: rigth;
}

h1 {
    font: bold 24pt monospace;
    text-align: center;
    color: #66d9ee;
}

h2 {
    font: normal 20pt monospace;
    text-align: center;
    color: #66d9ee;
}

h3 {
    font: normal 17pt monospace;
    margin-left: 5%;
    color: #66d9ee;
}

code {
    font: italic 15pt monospace;
    color: #a7e22e;
}

b {
    color: #ae82ff;
}

a {
    color: #e7db75;
}

img {
    border: solid 3px #ae82ff;
    float: right;
    margin-bottom: 6px;
}

div#imgline {
    font: italic 13pt monospace;
    color: #e7db75;
    text-align: right;
    clear: right;
}
