body {
    background: #303030;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font: normal 14pt monospace;
}

p {
    text-align: justify;
    text-indent: 30px;
}

header {
    background: #171421;
    line-height: 40pt;
}

#header-title {
    color: #ffffff;
    font-size: 26pt;
    vertical-align: middle;

}

@media only screen and (min-device-width: 800px) and (orientation: landscape) {
    #header-title {
	margin-left: 5%;
    }
}

.header-link {
    font-size: 16pt;
    vertical-align: middle;
}

a {
    color: #2a7bde;
    text-decoration: none;
}

footer {
    font: normal 10pt monospace;
    text-align: center;
    margin-bottom: 5%;
    color: #d0cfcc;
}
