#all {
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

#all > * {
    padding: 5%;
}

@media only screen and (min-device-width: 800px) and (orientation: landscape) {
    #all {
	display: grid;
	grid-template-columns: 1fr 1fr;
    }
}
