* {
    background-color: #1E1E2E;
    color: #CDD6F4;
    font: normal 15pt monospace;
    text-align: justify;
}

div#master {
    display: grid;
    grid-template-columns: 50% 50%;
}

div#text {
    margin-right: 5%;
}

div#images {
    margin-left: 5%;
    text-align: rigth;
}

h1 {
    font: bold 24pt monospace;
    text-align: center;
    color: #89B4FA;
}

h2 {
    font: normal 20pt monospace;
    text-align: left;
    margin-left: 5%;
    color: #89B4FA;
}

h3 {
    font: normal 17pt monospace;
    margin-left: 5%;
    color: #89B4FA;
}

code {
    font: italic 15pt monospace;
    color: #F9E2AF;
}

em {
    font: italic 15pt monospace;
    color: #F9E2AF;
}

b {
    color: #A6E3A1;
}

a {
    color: #F5C2E7;
}

img {
    border: solid 3px #F5C2E7;
    float: right;
    margin-bottom: 6px;
}

div#imgline {
    font: italic 13pt monospace;
    color: #F9E2AF;
    text-align: right;
    clear: right;
}
